extends layout

block content
  section(class="hero")
    div(class="hero-body")
      div(class="container has-text-centered")
        p(class="title") Snips Dashboard

  section(class="section")
    div(class="container has-text-centered")
      div(id="listen-indicator")

  section(class="section")
    div(class="container has-text-centered")
      div(id="intent-result")

  section(class="section")
    div(class="container has-text-centered")
      div(id="answer-listen-indicator")

  section(class="section")
    div(class="container has-text-centered")
      div(id="answer-intent-result")

block scripts
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script src="/javascripts/index.js"></script>